{% extends 'layout.admin.html.twig' %}

{% block content %}
    <h1 class="text-primary text-center mt-4 mb-4">Ajouter une image</h1>

    <div class='container mb-4'>
        {% if imageUrl is not empty %}
            <img class="img-fluid" src="{{ imageUrl }}" alt="Aperçu de l'image" />
        {% else %}
            {% if error is not empty %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data" action="">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="pictureUpload">
                    <label class="custom-file-label" for="customFile">Choisir une image</label>
                </div>
                <button type="submit" name="pictureSend" class="btn btn-primary btn-lg btn-block">Envoyer l'image</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
