{% extends 'layout.admin.html.twig' %}

{% block content %}
    <h1 class="text-primary text-center mt-4 mb-4">Ajouter une image</h1>
    {% if imageUrl is not empty %}
    <div class='container mb-4'>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Image ajoutée!</h4>
            <p>Votre image a bien été envoyée vers le serveur et ajoutée à l'annonce numéro {{id}}.</p>
        </div>
    </div>
        <div class="container">
            <div class="text-center">
            <img class="img-fluid d-flex align-self-center" src="{{ imageUrl }}" alt="Aperçu de l'image ajoutée">
            </div>
        </div>
        {% else %}
            {% if error is not empty %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div class='container mb-4 shadow p-3 mb-5 bg-white rounded'>
                <form method="post" enctype="multipart/form-data" action="">
                    <div class="custom-file mb-4 mt-4">
                        <input type="file" class="custom-file-input" name="pictureUpload">
                        <label class="custom-file-label" for="customFile">Choisir une image</label>
                    </div>
                    <button type="submit" name="pictureSend" class="btn btn-primary btn-lg btn-block">Envoyer l'image</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
