{% extends 'layout.admin.html.twig' %}

{% block content %}
    <div class='container-fluid m-5'>
        <p>
            Votre annonce à bien été ajoutée, veuillez ajouter des images ou revenir à la page d'acceuil.
        </p>
        <a class="nav-link active text-primary" href="ajoutPhoto?id={{id.0.id}}">Ajouter des images à l'annonce</a>
        <a class="nav-link active text-primary" href="index">Accueil admin</a>
    </div>
{% endblock %}