{% extends 'layout.admin.html.twig' %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			{% include '/Components/_sidemenu.admin.html.twig' %}
			<div class="col-sm-12 col-lg-9">
				<div class="row justify-content-center mt-4 mb-5">
					<h1 class="text-center">Bienvenue sur page d'<span class="text-primary">administration<span></h1>
						</div>
						<div class="row m-2">
							<h4>Actions concernant les
								<strong class="text-primary">biens</strong>
								:</h4>
						</div>
						<div class="row mb-2">
							<div class="card bg-secondary m-5" style="width: 14rem;">
								<a href="ajoutAnnonce" class="text-decoration-none m-1">
									<img src="../assets/images/admin/add-home.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
									<div class="card-body">
										<p class="card-text text-center">Ajouter un bien</p>
									</div>
								</a>
							</div>
							<div class="card bg-secondary m-5" style="width: 14rem;">
								<a href="modifAnnonce" class="text-decoration-none m-1">
									<img src="../assets/images/admin/delete-modify.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
									<div class="card-body">
										<p class="card-text text-center">Modifier / Supprimer un bien</p>
									</div>
								</a>
							</div>
							<div class="card bg-secondary m-5" style="width: 14rem;">
								<a href="modifAnnonce" class="text-decoration-none m-1">
									<img src="../assets/images/admin/show-hide.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
									<div class="card-body">
										<p class="card-text text-center">Afficher / Cacher un bien</p>
									</div>
								</a>
							</div>
							<div class="card bg-secondary m-5" style="width: 14rem;">
								<a href="modifAnnonce" class="text-decoration-none m-1">
									<img src="../assets/images/admin/promote.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
									<div class="card-body">
										<p class="card-text text-center">Promouvoir un bien</p>
									</div>
								</a>
							</div>
						</div>
						<div class="row m-2">
							<h4 class="">Administrer le
								<strong class="text-primary">site</strong>
								:</h4>
						</div>
						<div class="row">
							<div class="card bg-secondary m-5" style="width: 14rem;">
								<a href="modifDocument" class="text-decoration-none m-1">
									<img src="../assets/images/admin/documents.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
									<div class="card-body">
										<p class="card-text text-center">modifier la liste des documents necessaires</p>
									</div>
								</a>
							</div>
							<div class="card bg-secondary m-5" style="width: 14rem;">
								<a href="modifSlogan" class="text-decoration-none m-1">
									<img src="../assets/images/admin/website.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
									<div class="card-body">
										<p class="card-text text-center">modifier les textes de la page d'accueil</p>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>


		{% endblock %}

