{% extends 'layout.admin.html.twig' %}

{% block content %}
<h1>Page d'accueil admin</h1>
<a href="ajoutAnnonce"> ajouter annonce</a>
</br>
<a href="modifAnnonce"> modifier ou supprimer une annonce</a>
</br>
<a href="modifDocument">modifier la liste des documents necessaires</a>
</br>
<a href="modifSlogan">modifier les bulles slogan de la page d'accueil</a>
{% endblock %}
