{% extends 'layout.admin.html.twig' %}

{% block content %}
	<div class="row justify-content-end" >
		<a href="?logout=true" class="col-auto btn btn-sm btn-danger text-decoration-none text-light text-center mt-3 me-3">
			Déconnexion
		</a>
	</div>
	<div class="row justify-content-center mt-4 mb-5">
		<h1 class="text-center">Bienvenue sur page d'<span class="text-primary">administration<span></h1>
	</div>
	<div class="row m-2">
		<h4 class="text-center">Actions concernant les
			<strong class="text-primary">biens</strong> :
		</h4>
	</div>
	<div class="row mb-3 mb-xl-5 justify-content-center">
		<div class="col-3 card bg-secondary me-3">
			<a href="ajoutAnnonce" class="text-decoration-none m-1">
				<img src="../assets/images/admin/add-home.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
				<div class="card-body d-none d-lg-block">
					<p class="card-text text-center">Ajouter</p>
				</div>
			</a>
		</div>
		<div class="col-3 card bg-secondary ms-3">
			<a href="listAnnonce" class="text-decoration-none m-1">
				<img src="../assets/images/admin/delete-modify.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
				<div class="card-body d-none d-lg-block">
					<p class="card-text text-center">Modifier Supprimer</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row m-2">
		<h4 class="text-center">Administrer le
			<strong class="text-primary">site</strong> :
		</h4>
	</div>
	<div class="row justify-content-center">
		<div class="col-3 card bg-secondary me-3">
			<a href="modifDocument" class="text-decoration-none m-1">
				<img src="../assets/images/admin/documents.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
				<div class="card-body text-center">
					<p class="card-text d-none d-lg-block">Modifier liste documents necessaires</p>
				</div>
			</a>
		</div>
		<div class="col-3 card bg-secondary ms-3">
			<a href="modifSlogan" class="text-decoration-none m-1">
				<img src="../assets/images/admin/website.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
				<div class="card-body text-center">
					<p class="card-text d-none d-lg-block">Modifier textes de la page d'accueil</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row m-2 mt-5">
		<h4 class="text-center">
			Messagerie :
		</h4>
	</div>
	<div class="row justify-content-center">
		<div class="col-3 card bg-secondary me-3 mb-4">
			<a href="/../Messages/messages" class="text-decoration-none m-1">
				<img src="../assets/images/admin/messagerie.svg" class="card-img-top mt-2" alt="logo ajouter un bien" height="150">
				<div class="card-body text-center">
					<p class="card-text d-none d-lg-block">Consulter vos messages</p>
				</div>
			</a>
		</div>
	</div>	
{% endblock %}
