{% extends 'layout.admin.html.twig' %}

{% block content %}
    <h1>Bonjour l'admin, merci de te logger si tu est vraiment un vrai admin</h1>
    
    <p>
        <a href="index"> loggin ok?</a>
    </p>
{% endblock %}
