{% extends 'layout.admin.html.twig' %}

{% block content %}
    <div class='container-fluid m-5'>
        <p>
            Votre annonce à bien était supprimé, revené à la page précédente ou à la page d'acceuil.
        </p>
        <a class="nav-link active text-primary" href="listAnnonce">Page précedente</a>
        <a class="nav-link active text-primary" href="index">Accueil admin</a>
    </div>
{% endblock %}