{% extends 'layout.visiteur.html.twig' %}

{% block content %}
    <h1>Nous vous presentons notre belle agence afin que vous ne vous fiez pas aux avis google</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa, sequi nobis eveniet pariatur voluptates aspernatur omnis quidem dolores quo dolore perferendis sunt ea ipsum aperiam? Architecto accusantium dolore harum.</p>
{% endblock %}
