{% extends 'layout.visiteur.html.twig' %}
{% block content %}
	<div class="container mb-5 mt-4">
		<div class="row">
			<div class="col-12">
				<h1 class="text-primary text-center mb-3">Notre agence</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3 mt-3">
				<h6 class="text-center text-primary mb-4">
				L'agence "LE CLUB DE L'IMMO" est spécialisée en transactions immobilières sur Orleans et ses environs.</br>
				Nous intervenons sur tous types de biens :
				appartements, maisons, lofts, terrains, immeubles, parkings ou garages,
				investissements locatifs, neufs ou anciens...
			</h6>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12">
			<h3 class="text-primary text-center mb-3 mt-3">Nous vous proposons</h3>
		</div>
	</div>
	<div class="offset-4 col-4 text-center mb-4 mt-3">
		<img src="/../assets/images/visit.jpg" class="img-fluid rounded-circle" alt="Service Plus">
	</div>
	<div class="row">
		<div class="col-12 mb-3 mt-3 text-center">
			<ul class="text-primary text-center">Visites ciblées</ul>
			<ul class="text-primary text-center">Comptes-rendus de visites systématiques</ul>
			<ul class="text-primary text-center">Diffusion de publicités via internet, journaux gratuits, vitrine...</ul>
			<ul class="text-primary text-center">Réactivité</ul>
			<ul class="text-primary text-center">Conseils à la vente</ul>
			<ul class="text-primary text-center">Négociations dans le meilleur de vos intérêts</ul>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12">
			<h3 class="text-primary text-center mb-3 mt-3">Nos atouts</h3>
		</div>
		<div class="offset-4 col-4 text-center mb-4 mt-3">
			<img src="/../assets/images/atouts.jpg" class="img-fluid rounded-circle" alt="Service Plus">
		</div>
		<h5 class="text-primary text-center mb-3">Vous avez un bien à louer ?</h5>
		<ul class="text-primary text-center">Vous gérez vous-même votre location</ul>
		<ul class="text-primary text-center">Vous restez le seul décideur du choix de votre locataire</ul>
		<ul class="text-primary text-center">Vous louez sur Orléans, son agglomération et en campagne</ul>
		<p class="text-primary text-center">
			Grâce à notre choix important de clients, nous vous proposons rapidement des clients motivés.
			Le locataire dispose d'un descriptif précis de votre bien et de ses photos.
			<br>
			Fini les visites inutiles de curieux indécis !
			Notre présélection vous fait gagner du temps !
		</p>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12">
			<h3 class="text-primary text-center mb-3 mt-5">Le Service Plus</h3>
		</div>
		<p class="text-primary text-center">
			Vous êtes mutés?
			Vous vendez votre bien et quittez la ville?
			<span>
			Nous pouvons vous proposer
			</span>
			<b class="text-primary ">le Service Plus</b>
			<div class="offset-4 col-4 text-center mb-4 mt-3">
				<img src="/../assets/images/serviceplus.jpg" class="img-fluid rounded-circle" alt="Service Plus">
			</div>
		</p>
		<p class="text-primary text-center mb-5">
			<b>Entretien de votre jardin jusqu'à la vente!</b>
			Vous ne vous occupez de rien, nous gérons!
			Une maison propre et entretenue,
			c'est une maison vendue plus vite!
		</p>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12">
			<h3 class="text-primary text-center mb-3 mt-3">Nos honoraires</h3>
		</div>
		<div class="offset-4 col-4 text-center">
			<img src="/../assets/images/honoraires.jpeg" class="img-fluid rounded-circle mb-2" alt="Service Plus">
		</div>
		<p class="text-primary text-center">
			Tous biens
			<b class="text-primary ">inférieurs</b>
			à 50.000€ &nbsp &nbsp ➡ &nbsp &nbsp forfait
			<b class="text-primary ">1500€</b>
		</p>
		<p class="text-primary text-center">
			Tous biens
			<b class="text-primary ">suppérieur</b>
			à 50.000€ &nbsp &nbsp ➡ &nbsp &nbsp
			<b class="text-primary mb-5">3% du prix de vente</b>
		</p>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12">
			<h3 class="text-primary text-center mb-3 mt-3">Diagnostics</h3>
		</div>
		<div class="offset-4 col-4 text-center mb-4 mt-3">
			<img src="/../assets/images/dpe.jpg" class="img-fluid rounded-circle" alt="Service Plus">
		</div>
		<p class="text-primary text-center">
			Contactez-nous pour votre diagnostic énergétique!
			Nous vous orienterons vers nos meilleurs collaborateurs!
		</p>
	</div>
</div>
{% include 'Components/_footerTop.html.twig' %}
{% endblock %}
