{% extends 'layout.visiteur.html.twig' %}

{% block content %}
    <h1>page d'affichage des annonces avec tous les details</h1>
    <p> Super T4 etc etc etc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error id ipsam beatae eum unde inventore quo sapiente possimus fugit a! Enim, error ea! Temporibus natus doloremque repellat consequuntur asperiores facilis?</p>
</br>
</br>
</br>
</br>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dignissimos velit qui provident? Libero facilis fugit dolore cum minus aliquid aut soluta eius? Laudantium cum ipsam, nostrum minima iusto nisi.</p>
{% endblock %}
