
{% extends 'layout.visiteur.html.twig' %}

{% block content %}

    <div class="container-CGU">
    <h1>Conditions Générales d'Utilisation :</h1>
        <p>Les présentes Conditions d'Utilisation sont la propriété du Club de L'Immo. En conséquence et sans que cette liste ne soit limitative, toute diffusion, exploitation, représentation, reproduction ou utilisation, totale ou partielle, sur tout support, des présentes Conditions Générales à des fins autres que strictement personnelles, est soumise à l'autorisation préalable du Club de L'Immo. A défaut de cette autorisation, le contrevenant s'expose aux incriminations et aux poursuites pénales et civiles prévues par la loi.</br>
        leclubdelimmo.fr est un Service d'aide à la recherche d'un bien immobilier à louer ou à acheter, se concrétisant par la fourniture d'accès aux fichiers d'offres correspondant à des critères de recherche indiqués par le client, accessible aux Membres de leclubdelimmo.fr par internet, ainsi que l'aide à la diffusion d'offre de logement à location ou à la vente, les services d'informations, les services d'aide à la gestion de la relation bailleur/locataire.. Certaines fonctionnalités du Service leclubdelimmo.fr sont accessibles gratuitement et d'autres fonctionnalités sont payantes par les Membres privilèges qui paient par abonnement forfaitaire.</br>
Nous vous invitons à lire attentivement les présentes Conditions d'Utilisation pour participer, avec le Club de L'Immo et en étant Membre de leclubdelimmo.fr, au développement d'un Site Internet responsable et d'un Service de qualité. En devenant Membre privilège de leclubdelimmo.fr, vous vous engagez à respecter les présentes Conditions d'Utilisation. Si vous n'acceptez pas ces Conditions d'Utilisation, vous ne devez pas vous inscrire sur leclubdelimmo.fr. L'inscription à un ou plusieurs Services ainsi que l'utilisation du présent site supposent l'acceptation pleine et entière des présentes par le Membre privilège. En cochant la case désignant la phrase "Je certifie être majeur(e) et avoir lu et accepté les CGU du Service le Club de L'Immo" située au bas de la page de l'inscription pour la valider, le Membre privilège reconnait qu'il est pleinement informé et qu'il est tenu par l'ensemble des dispositions des présentes Conditions d'Utilisation.</p>

<h2>Article 1. Définitions </h2>
<p>"Membre Privilège" désigne un forfait payant donnant accès aux Services payants de leclubdelimmo.fr à volonté sur une période limitée qui est de 4 mois, pour l'accédant à la location.</br>
"Conditions d'Utilisation" désigne le présent contrat.</p>

<h2>Article 2. Accès et inscription aux Services du Club de L'Immo</h2>
<h3>2.1 Conditions d'accès et d'inscription</h3>
<p>Les équipements (ordinateurs, logiciels, moyens de télécommunications, etc.) permettant l'accès aux Services sont à la charge exclusive du Membre privilège, de même que les frais de télécommunications induits par leur utilisation.</br>
Pour être Membre privilège, vous devez être âgé(e) au minimum de 18 ans et remplir l'ensemble des champs obligatoires figurant dans les formulaires d'inscription.</br>
Le Membre garantit que les données qu'il communique sont exactes et conformes à la réalité. Il s'engage à informer le Club de L'Immo sans délai en cas de modification des données qu'il a communiquées lors de son inscription et, le cas échéant, à procéder lui-même aux dites modifications au sein de Mon Compte personnel du site leclubdelimmo.fr</br>
Lorsque les conditions nécessaires à l'inscription sont remplies, chaque Membre privilège dispose d'un identifiant (login) et d'un mot de passe, ouvrant accès aux des différents Services auxquels il s'est inscrit, qui sont strictement personnels et confidentiels et qui ne devront pas être communiqués ni partagés avec des tiers.</br>
Dans le cas où un Membre privilège diffuserait ou utiliserait ces éléments de façon contraire à leur destination, le Club de L'Immo résiliera le compte du Membre privilège.</br>
Le Membre privilège sera seul responsable de l'utilisation de ces éléments d'identification par des tiers ou des actions ou déclarations faites par l'intermédiaire de son compte personnel de Membre privilège, qu'elles soient frauduleuses ou non. Il garantit le Club de L'Immo contre toute demande à ce titre. Par ailleurs, le Club de L'Immo n'ayant pas pour obligation et ne disposant pas des moyens techniques de s'assurer de l'identité des personnes s'inscrivant à ses Services, le Club de L'Immo n'est pas responsable en cas d'usurpation de l'identité d'un Membre privilège. Si le Membre privilège a des raisons de penser qu'une personne utilise ses éléments d'identification ou son compte, il devra en informer immédiatement le Club de L'Immo.</br>
Par mesure de sécurité et de qualité du Service, le Club de L'Immo désactive les comptes des Membres privilège à l'issue de la période choisie et en informe le membre par courriel 48 h 00 avant cette action.</p>

<h2>Article 3. Utilisation de MonCompte le Club de L'Immo</h3>
<p>Une fois inscrit, et sous réserve de disposer le cas échéant d'un MonCompte, le Membre privilège bénéficiera d'un accès aux Services disponibles sur leclubdelimmo.fr. Le prix et les modalités de paiement des différents Services Payants sont détaillés dans l'article "Prix et modalités de paiement" des présentes Conditions d'Utilisation et sont accessibles à tout moment sur le site leclubdelimmo.fr lors de la présentation ou de l'utilisation du (ou des) Service(s) Payant(s) au(x)quel(s) le Membre souhaite souscrire, ainsi que leur(s) tarif(s) respectif(s).</p>
<h3>.1. Obligations du Club de L'Immo</h3>
<p>le Club de L'Immo assure à distance et par voie électronique la fourniture d'un Service d'aide à la recherche de logement, et ou d'aide à la diffusion d'une offre de logement, sur Internet, ainsi que des services d'informations. L'objet du Club de L'Immo n'est pas la fourniture d'un accès au réseau Internet, ni la fourniture d'un Service de communication électronique au public. L'objet de leclubdelimmo.fr étant intimement lié à une activité immobilière, le Club de L'Immo organise le contrôle des données sur les offres de logement de façon à respecter le cadre légal en vigueur. En conséquence, Les membres privilège de leclubdelimmo.fr s'engagent à s'identifier clairement et reconnaissent leur responsabilité personnelle en cas de tromperie sur leur qualité.</br>
le Club de L'Immo s'engage à mettre en œuvre les moyens nécessaires au contrôle des informations diffusées sur leclubdelimmo.fr sans pour autant pouvoir être tenu pour responsable des fausses déclarations faites par un Membre.</p>
<h3>3.2 Obligations du Membre privilège</h3>
<p>Les dispositions du présent article s'appliquent sans préjudice de l'article "Résiliation".
Dans le cadre de l'utilisation des Services, le Membre s'engage à se conformer aux lois en vigueur, à respecter les droits des tiers et les dispositions des présentes Conditions d'Utilisation.</p>
<h3>3.2.1. Obligations générales :</h3>
<p>Le Membre privilège a, de manière générale, pour obligation de :
Se comporter de façon loyale à l'égard du Club de L'Immo et des autres Membres.
Respecter les droits de propriété intellectuelle afférents aux contenus fournis par le Club de L'Immo et par les autres Membres et Membres privilège.
S'engage à respecter la législation en vigueur en matière de transaction immobilière, location, mise en vente et mise en location d'un bien.</p>
<h3>3.2.2. Obligations Fondamentales :</h3>
<p>Le Membre privilège a pour Obligations Fondamentales de :
Ne poster, n'indiquer ou ne diffuser sous quelque forme que ce soit que des informations ou contenus conformes à la réalité.
Ne pas tenir ou proférer des propos ou diffuser sous quelque forme que ce soit des contenus contrevenant aux droits d'autrui ou à caractère diffamatoire, injurieux, obscène, offensant, violent ou incitant à la violence, politique, raciste ou xénophobe et de manière générale tout contenu contraire à l'objet du Club de L'Immo, aux lois et règlements en vigueur, aux droits personnes ou aux bonnes mœurs. En particulier, les photos, vidéos et toutes informations, données ou fichiers fournis par un Membre au Club de L'Immo doivent être décents et se rapporter exclusivement au Membre ou, s'ils se rapportent à un tiers, avec son autorisation exprès et sous la responsabilité exclusive du Membre concerné.</br>
Ne pas poster, indiquer, ni diffuser sous quelque forme que ce soit des informations ou contenus intégrant des liens vers des sites tiers qui auraient un caractère illégal, contraires aux bonnes múurs et/ou non conformes à l'objet du Club de L'Immo.
Utiliser ses mots de passe et/ou identifiants selon leur stricte finalité d'authentification aux Services. A cet égard, le Membre privilège ne doit pas, sans que cette liste ne soit limitative, communiquer, diffuser, partager, rendre accessible, de quelle que façon que ce soit, ses mots de passe et/ou identifiants à tout tiers.
Utiliser les Services conformément à la finalité décrite dans les présentes Conditions d'Utilisation.
Le manquement aux Obligations Fondamentales ainsi définies constitue un manquement grave du Membre privilège à ses obligations. Sans préjudice des dispositions de l'article " Résiliation ", en cas de manquement par un Membre à une ou plusieurs de ces Obligations Fondamentales, le Club de L'Immo pourra résilier le contrat et supprimera définitivement le compte du Membre privilège concerné.</p>

<h2>Article 4. Prix et modalités de paiement</h2>
<p>L'utilisation des Services Payants suppose que le Membre privilège dispose d'un compte. Le prix et les modalités de paiement des différents Services Payants sont présentés ci-dessous et sont constamment accessibles sur le site le Club de L'Immo et au plus tard lors de la présentation ou de l'utilisation du (ou des) Service(s) Payant(s) au(x)quel(s) le Membre souhaite souscrire, ainsi que de leur(s) tarif(s) respectif(s).</br>
Membre privilège accédant à la location	
Prestation immédiate : 210 € TTC 
Les prix sont indiqués en euros TTC (toutes taxes comprises).
Si les contacts fournis le jour de la signature de la convention n'aboutissaient pas, le souscripteur aura accés, gratuitement pendant 4 mois, à l'actualisation de son fichier d'offres.
Pour connaître le détail de toutes les offres le Club de L'Immo, allez sur la page LOCATIONS du site leclubdelimmo.fr.
Le Membre privilège peut à tout moment notifier au Club de L'Immo son souhait de résilier son compte privilège. La résiliation prendra effet à la date d'échéance du Compte privilège en cours, conformément aux dispositions de l'ARTICLE 8 ci-dessous "Résiliation" sans qu'il puisse pour autant se prévaloir d'un remboursement de l'inscription au prorata temporis.</br>
A l'expiration du compte privilège le Club de L'Immo, celui-ci sera, sauf résiliation notifiée par le Membre privilège au Club de L'Immo avant l'échéance du Compte privilège le Club de L'Immo en cours.</p>
<p>
Article 5 - Informatiques et Libertés
En application de la loi n° 78-17 du 6 janvier 1978, il est rappelé que les données nominatives qui sont demandés au Client sont nécessaires au traitement de sa commande et sont destinées à un usage interne par le Prestataire.
Ces données nominatives peuvent néanmoins être transmises à des tiers, partenaires du Prestataire. Le Client dispose donc d'un droit d'accès, de modification, de rectification et d'opposition s'agissant des informations le concernant, dans les conditions prévues par la loi et la réglementation en vigueur.</br>
</p>
<p>
<h2>Article 6. Propriété intellectuelle</h2>
<h3>6.1 Contenus diffusés par le Club de L'Immo</h3>
Les marques (notamment "compte privilège", "mes selections", "mes visites"), les logos, les graphismes, les photographies, les animations, les vidéos et les textes contenus sur le site le Club de L'Immo et dans le Service le Club de L'Immo sont la propriété intellectuelle du Club de L'Immo ou de ses partenaires et ne peuvent être reproduits, utilisés ou représentés sans l'autorisation expresse du Club de L'Immo ou de ses partenaires, sous peine de poursuites judiciaires.</br>
Les droits d'utilisation concédés par le Club de L'Immo au Membre sont strictement limités à l'accès, au téléchargement, à l'impression, à la reproduction sur tous supports (disque dur, disquette, CD-ROM, etc.) et à l'utilisation de ces documents pour un usage privé et personnel dans le cadre et pour la durée de l'adhésion au Club de L'Immo. Toute autre utilisation par le Membre et Membre privilège est interdite sans l'autorisation du Club de L'Immo.</br>
Le Membre et Membre privilège s'interdit notamment de modifier, copier, reproduire, télécharger, diffuser, transmettre, exploiter commercialement et/ou distribuer de quelque façon que ce soit les Services, les pages du site le Club de L'Immo, ou les codes informatiques des éléments composant les Services et le site le Club de L'Immo.</br>
6.2 Contenus diffusés par les Membres
Le Membre concède au Club de L'Immo une licence d'utilisation des droits de propriété intellectuelle attachés aux contenus fournis par les Membres aux fins de diffusion sur le Site le Club de L'Immo.
Cette licence comprend notamment le droit pour le Club de L'Immo de reproduire, représenter, adapter, traduire, numériser, utiliser à des fins publicitaires, commerciales ou non commerciales, de sous-licencier ou de céder les contenus concernant le Membre et Membre privilège (informations, images, vidéos, description, critères de recherche, etc.), sur tout ou partie du Service le Club de L'Immo (sur le site le Club de L'Immo, par email, par Audiotel) et/ou dans les mailings du Club de L'Immo et de manière générale sur tous supports de communication électronique (e-mail SMS, MMS, WAP, Internet, CD-Rom ou DVD-Rom).</br>
Le Membre autorise expressément le Club de L'Immo à modifier lesdits contenus afin de respecter la charte graphique des Services le Club de L'Immo ou des autres supports de communication visés ci-dessus et/ou de les rendre compatibles avec ses performances techniques ou les formats des supports concernés. Ces droits sont concédés pour le monde entier et pour toute la durée d'exécution des présentes Conditions générales d'Utilisation entre le Membre privilège et le Club de L'Immo. Le Membre et Membre privilège s'interdit de copier, reproduire, ou utiliser les contenus relatifs aux autres Membres et Membres privilège autrement que pour les stricts besoins d'utilisation des Services à des fins personnelles et privées.</br>
</p>
<h2>Article 7. Responsabilité et garantie</h2>
<p>Pour utiliser les Services, le Membre et Membre privilège doit posséder un équipement des logiciels et des paramétrages nécessaires au bon fonctionnement du Club de L'Immo : Navigateur IE8 ou équivalent, activation des fonctions Javascript, réception de cookies de session et acceptation de l'affichage de fenêtres "pop-ups".
Attention, pour une utilisation complète du Club de L'Immo vous devrez disposer de logiciels Adobe flash à jour (téléchargement sur www.adobe.com).
Le Membre doit disposer des compétences, des matériels et des logiciels requis pour l'utilisation d'Internet, ou le cas échéant, de services Internet, téléphoniques et par Audiotel et reconnaît que les caractéristiques et les contraintes d'Internet ne permettent pas de garantir la sécurité, la disponibilité et l'intégrité des transmissions de données sur Internet.le Club de L'Immo ne garantit pas que les Services seront utilisables si l'abonné utilise un utilitaire de "pop-up killer" ; dans ce cas, cette fonction devra être désactivée préalablement à l'utilisation du Service.le Club de L'Immo ne garantit pas que les Services seront utilisables si le fournisseur d'accès Internet du Membre se montre défaillant dans l'accomplissement de sa propre prestation. Dans ces conditions, le Club de L'Immo n'est pas responsable d'un non fonctionnement, d'une impossibilité d'accès, ou de mauvaises conditions d'utilisation du site le Club de L'Immo imputables à un équipement non adapté, à des dysfonctionnements internes au fournisseur d'accès du Membre ou Membre privilège, à l'encombrement du réseau Internet, et pour toutes autres raisons extérieures au Club de L'Immo.</br>
Dans ces conditions, le Club de L'Immo ne garantit pas que les Services fonctionneront sans interruption ni erreur de fonctionnement. En particulier, leur exploitation pourra être momentanément interrompue pour cause de maintenance, de mises à jour ou d'améliorations techniques, ou pour en faire évoluer le contenu et/ou leur présentation.
</p>
<h2>Article 8. Résiliation</h2>
<p>La résiliation d'un Compte privilège décidée par le Membre privilège prend effet à la date d'expiration du compte privilège en cours.
Sans préjudice des autres dispositions des présentes, en cas de manquement grave du Membre, le Club de L'Immo résilie le compte du Membre privilège sans préavis ni mise en demeure. Cette résiliation produit les mêmes effets que celle décidée par le Membre.
Sans préjudice des autres dispositions des présentes, en cas de manquement du Membre, le Club de L'Immo résilie le compte du Membre 7 (sept) jours après l'envoi au Membre privilège d'un courrier électronique lui demandant de se conformer aux présentes Conditions d'Utilisation resté infructueux.
Cette résiliation interviendra sans préjudice de tous les dommages et intérêts qui pourraient être réclamés par le Club de L'Immo au Membre privilège ou ses ayants droit et représentants légaux en réparation du préjudice subi du fait de tels manquements.
Le Membre privilège sera informé par courrier électronique de la résiliation ou de la confirmation de la résiliation de son compte. Les données relatives au Membre seront détruites à sa demande ou à l'expiration des délais légaux courant à compter de la résiliation du compte du Membre privilège.</p>

<h2>Article 9. Modifications du Club de L'Immo ou des conditions d'utilisation</h2>
<p>le Club de L'Immo pourra modifier à tout moment les présentes Conditions d'Utilisation. Le Membre privilège sera informé de la nature de ces modifications dès leur mise en ligne sur le site le Club de L'Immo. Les modifications entreront en vigueur un mois après leur mise en ligne sur le Site. Pour les Membre privilège inscrits postérieurement à la mise en ligne des modifications, celles-ci leur seront immédiatement applicables car ils les auront acceptées expressément en devenant Membre privilège.</br>
</p>
<h2>Article 10. Médiateur à la consommation</h2>
<p>Conformément à l'article L. 612-1 du code de la consommation, les clients ont la possibilité de recourir à MCP MÉDIATION, médiateur de la consommation dans le cas d'un litige qui les opposerait au Club de l'Immo, par Courrier adressé à : Médiation de la consommation & Patrimoine, 12 square Desnouettes 75015 PARIS</br>
</p>
<h2>Article 11. Litiges </h3>
<p>Tous les litiges auxquels le présent contrat pourrait donner lieu, concernant tant sa .validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun.</p>

<h2>Article 12. Langue du contrat - Droit applicable</h2>
De convention exprès entre les parties, le présent contrat est régi et soumis au droit français.

<h2>Article 13. Charte pour la protection des données personnelles</h2>
<p>Conformément au règlement européen 2016/679 du 27 avril 2016 (dit « règlement général sur la protection des données » ou RGPD)
La présente charte (ci-après : la « Charte ») décrit la manière dont l'Agence LE CLUB DE L'IMMO 28 rue du colombier - 45000 ORLÉANS - France (ci-après l'« Éditeur ») traite vos données personnelles via "leclubdelimmo.fr" (ci-après le « Site ») en qualité de responsable de traitement. Ce traitement s'effectue en conformité avec le respect de la vie privée et de la protection des données personnelles de ses utilisateurs.</p>

<p>Cette Charte vous permet de prendre connaissance des conditions d'obtention, d'utilisation et de conservation de vos données personnelles (ci- après : les « Données ») par l'Éditeur. Les Données que nous pouvons collecter, traiter et/ou transmettre lorsque vous accédez et/ou utilisez le Site sont ici décrites.</p>

<p>La présente Charte est susceptible d'être mise à jour en fonction de l'évolution de la loi et des données traitées. Si une quelconque clause de la présente Charte devait être déclarée nulle ou contraire à la réglementation, elle sera réputée non écrite mais n'entraînera pas la nullité des autres clauses de la présente Charte.</p>

<p>La Charte s'applique pour les Données collectées :</br>
• via la simple navigation sur le Site ;</br>
• lorsque vous effectuez une demande de contact sur le Site.</p>

<p>La Charte ne saura s'appliquer aux informations collectées par les tierces parties (site, applications, publicités, etc.) envoyant l'utilisateur vers le Site. En naviguant sur notre site, vous acceptez l'application de cette Charte sans aucune réserve. Vous restez responsable de la conformité des données que vous fournissez via le Site. Vous pouvez à tout moment les corriger ou les modifier par demande écrite/email.</p>

<p>Quelles sont les données collectées ?</br>
En fonction de votre usage du Site, l'Éditeur est susceptible de collecter les Données suivantes :</br>
• votre adresse électronique pour l'ensemble des communications électroniques avec l'Éditeur ;</br>
• votre identité pour vous recontacter : société, nom, prénom, adresse postale, adresse électronique, et numéro de téléphone pourront vous être demandés ;</br>
• les Données d'utilisation et de navigation sur le Site : adresse IP, navigateur utilisé, l'historique des recherches, pages visualisées, etc.</p>

<p>Mode de collecte des données</br>
<p>Certaines Données seront collectées directement lors de votre saisie des formulaires de contact. Dans ce cas, votre consentement vous sera préalablement demandé et pourra à tout moment être retiré.
D'autres Données peuvent être collectées indirectement via l'usage de services tiers, pour le suivi statistiques ou les réseaux sociaux par exemple, sous la forme de Cookies/Traceurs.</p>

<p>Objectifs de la collecte des données</br>
En qualité d'utilisateur du Site, vos Données sont collectées (selon votre consentement) :</br>
• pour vous permettre de nous contacter via notre formulaire de contact ou de rappel ;</br>
• pour vous permettre de proposer un bien à vendre ou à louer ;</br>
• pour vous permettre de demander une estimation de votre bien ;</br>
• pour demander des renseignements sur un bien proposé sur notre site Internet ;</br>
• pour que nous puissions vous recontacter.</br>
Les Cookies/Traceurs collectent des données pour :</br>
• permettre le suivi de votre session pour l'utilisation de nos services (comptes connectés, etc.) et l'amélioration de votre expérience. Leur refus empêchera l'utilisation complète de notre site ;</br>
• analyser et suivre le trafic sur le Site à des fins statistiques pour améliorer le Site et suivre sa performance.</p>

<p>Le refus de remplir toute ou partie des données de certains formulaires peut entraîner une impossibilité d'usage des services mis à disposition.</p>

<p>Qui traite vos données ?
Les Données vous concernant sont traitées par le personnel de l'Éditeur pour la gestion du Site.</br>
Certaines données peuvent être communiquées à des sous-traitant (hébergeur) ou prestataires de services pour le suivi statistiques (Google). Chacun de ses acteurs respecte un engagement de confidentialité concernant l'usage et le traitement des données personnelles.</br>
L'ensemble des sous-traitants, prestataires de services, Partenaires ou autre tierces parties susmentionnés sont contraints par des obligations contractuelles de respecter la confidentialité et la protection des Données et de les traiter uniquement pour les fins auxquelles nous leur transmettons.</br>
Vos données pourront être transmises à tout acheteur ou autre successeur en cas de fusion, cession, restructuration, réorganisation, dissolution ou autre vente ou transfert d'une partie ou de la totalité des actifs de l'Éditeur en raison d'incertitudes ou de faillite, liquidation ou autres processus dans le cadre desquels les Données des utilisateurs du Site figurent parmi les actifs cédés.</br>
Nous sommes également susceptibles de divulguer vos Données :</br>
• pour nous conformer à tout mandat requis par les lois en vigueur, y compris aux demandes gouvernementales et réglementaires ;</br>
• si nous estimons que la divulgation est rendue nécessaire ou requise par la protection des droits, de la propriété ou de la sécurité de l'Éditeur, de ses clients ou autres parties prenantes.</br>
Cette divulgation éventuelle inclut l'échange d'informations avec d'autres entreprises et organisations à des fins de protection contre la fraude et les contrefaçons. Des liens externes vers des sites tiers gérés par des personnes ou organisations sur lesquelles l'Éditeur n'a pas de contrôle peuvent être présente sur le Site. Nous ne saurons être tenus responsable de la manière dont vos Données seront utilisées sur les serveurs de ces tiers.</p>

<p>Durée de conservation de vos Données</br>
L'Éditeur conserve vos Données pour la durée nécessaire à la réalisation des objectifs suivis décrits. Cette durée de conservation varie selon les Données, leur nature. L'objectif poursuivi est susceptible de faire varier cette durée. Certaines obligations légales imposent une durée de conservation spécifique.</br>
Vos données peuvent être conservées jusqu'à 6 mois lors d'un contact depuis nos formulaires dédiés.</br>
Les Données collectées au moyen des cookies ou traceurs seront conservées jusqu'à 13 mois.</br>
Toutes les autres Données éventuelles seront conservées jusqu'à 5 ans.</br>
Au-delà des durées de conservation susmentionnées, vos Données seront supprimées, ou anonymisées pour être conservées à des fins exclusivement statistiques.</p>

<p>Protection de vos données</br>
Les Données que vous fournissez ne sont pas conservées en ligne, elles sont directement envoyées dans les locaux de l'Éditeur. Leur collecte et protégée par le chiffrement TLS sur le protocole HTTPS. Toutes les mesures techniques et organisationnelles ont été prises afin de garantir la sécurité et la confidentialité de vos Données contre toute perte accidentelle et contre tout accès, utilisation, modification et divulgation non autorisés.</br>
Il est toutefois impossible de garantir une sécurité optimale des échanges d'informations sur le réseau Internet. Nous ne pouvons garantir la sécurité absolue des informations transmises au Site. Vous transmettez vos Données à vos propres risques et nous ne pouvons être tenus responsables du non-respect des paramètres de confidentialité ou des mesures de sécurité en place sur le Site. Vous reconnaissez que la sécurité de vos informations est également de votre ressort, via la sécurisation et le maintien de la confidentialité de votre mot de passe.</br>
L'Éditeur ne vous demandera jamais vos mots de passe.</p>

<p>Vos droits
Vous avez la possibilité d'exprimer votre consentement ou votre refus à la collecte et l'utilisation de vos Données que vous nous transmettez :</br>
• Le Site peut être utilisé sans l'utilisation des cookies/traceurs. Dans ce cas, certaines parties du Site peuvent présenter des dysfonctionnements ou être partiellement indisponibles.</br>
• Vous pouvez refuser la collecte de vos données de contact à la saisie de vos informations. Dans ce cas, il sera impossible de nous contacter via ce biais.</p>

<p>Conformément aux dispositions de la réglementation applicable en matière de protection des données à caractère personnel, en particulier le règlement européen 2016/679 sur la protection des Données (le « RGPD ») ainsi que la loi du 6 janvier 1978 n°78-17 dite « Informatique et Libertés » et ses modifications, vous disposez d'un droit d'accès et d'un droit de rectification sur vos Données.<p>

<p>De plus, sous réserve des conditions prévues par ladite réglementation pour l'exercice de ces droits, vous bénéficiez :</br>
• d'un droit à l'effacement de vos Données (Hors données comptables dont la conservation de 10 ans est requise par le droit Français - article L123-22 du code de commerce) ;</br>
• d'un droit à la limitation du traitement de vos Données ;</br>
• d'un droit d'opposition au traitement de vos Données pour des motifs légitimes, conformément à l'article 21 du RGPD ;</br>
• d'un droit à la portabilité sur les Données que vous avez fournies (pour les traitements automatisés fondés sur le consentement ou l'exécution d'un contrat) ;</br>
• du droit au retrait du consentement, lorsque celui-ci vous avez été demandé. Lorsque le traitement de vos Données est effectué sur la base de votre consentement, vous pouvez retirer celui-ci à tout moment.</p>

<p>L'Éditeur est susceptible de vous demander de justifier de votre identité avant tout modification ou suppression de vos données personnelles. Vous pouvez exercer ces droits en adressant un courriel en français à le.club.de.limmo@orange.fr ou par courrier à l'adresse de l'éditeur. Nous disposons d'un délai d'un mois pour répondre à toute demande relative à l'exercice de vos droits. Ce délai peut être prorogé de deux mois, en raison de la complexité ou du trop grand nombre de demandes.</br>

<p>Stockage et partage des données collectées</br>
Les données collectées sont exlusivement partagées avec nos fournisseurs d'hébergement du site web et de maintenance et développement du site, conformes tous deux RGPD.</p>
</div>
    
{% endblock %}