{% extends 'layout.visiteur.html.twig' %}

{% block content %}
    <h1>Hello le club de l'immo !</h1>
    <p>
        caroussel par ici
    </br>
        </p>
    </p>
    <p>
        petites bulles publicitaires ainsi que slogans
    </br>
    </p>
    <p> previews d'annonces par là</p>
{% endblock %}
