{% extends 'layout.visiteur.html.twig' %}

{% block content %}
    <h1>Les locations c'est par ici</h1>
    <p>
        <a href="annonce"> annonce numero X</a>
    </br> 
        <a href="annonce"> annonce numero X</a>
    </br> 
    <a href="annonce"> annonce numero X</a>
    </br> 
    <a href="annonce"> annonce numero X</a>
    </p>
{% endblock %}
