{% extends 'layout.visiteur.html.twig' %}

{% block content %}
<h1 class="text-primary text-center">Nos biens disponibles à la location</h1>
<div class="container">
    <div class="row mb-5">
        {% for i in 0..19 %} 
            <div class="col-md-6 col-sd-12 col-lg-4">
                {% include 'Components/_card.preview.annonce.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
