{% extends 'layout.visiteur.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <h5>Mentions légales :</h5>
            <p>
                Le site Le Club de L'Immo est édité par la SARL Le Club de L'Immo, au capital de 4000 € dont le siège social se situe 322 rue des Bénédictins - 45400 Chanteau - RCS Orléans 530 872 993.
                Numéro de gestion : 2011 B 340
                Transaction : CPI 4501 20 2018 000 032 088 / Location : CPI 4501 2018 000 032 087
            </p>
        </div>
    </div>

    {% include "Components/_footerTop.html.twig" %}
{% endblock %}

