{% extends 'layout.visiteur.html.twig' %}

{% block content %}
    <h1>Ici sont les apparts et maisons à VENDRE</h1>
    <p>
        <a href="annonce"> annonce numero X</a>
    </br> 
        <a href="annonce"> annonce numero X</a>
    </br> 
    <a href="annonce"> annonce numero X</a>
    </br> 
    <a href="annonce"> annonce numero X</a>
    </p>
{% endblock %}
