
/*------------------------header layout-----------------------------*/
header {
    height: 450px;
    background: center/100% no-repeat;
    background-image: linear-gradient(rgba(123, 28, 115, 0.15), rgba(123, 28, 115, 0.15)),
     url(../images/rue-jeanne-d-arc-orleans-val-de-loire-tourisme.jpg);
}
/*------------------------header layout end-------------------------*/

/*------------------------nav layout--------------------------------*/
nav {
    background-color: rgba(123, 28, 115, 0.2);
}
/*------------------------nav layout end----------------------------*/

/*------------------------media queries layout--------------------------------*/
@media (max-width: 768px) {
    header {
        height: auto;
        background: none;
    }
    nav {
        background-color: rgba(123, 28, 115);
    }
}
/* ------------- style page contact -------------- */

@media (max-width: 800px) {
    
    #adress iframe {
        width: 200px;
        height: 200px;
    }
} 



/* ---------footer layout------------- */


.footer-top {
    font-size: 14px;
    padding-left: 50px;
}

.footer-top-content {
    margin: auto;
 }


.footer-title {
    font-size: 24px;
}


.footer-icon {
   width: 20px;
}
/*---------------CGU et mentions légales Layout-----------*/
.container-CGU h1{
    font-size: x-large;
}
.container-CGU h2{
    font-size: large;
}
.container-CGU h3{
    font-size: medium;
}


/*-------------- layout Admin --------------------*/
.admin-bg {
    background-color: #F4FAFF;
}
#header-admin {
    inherits: true;
    height: 70px;
}

#footer-admin {
    height: 60px;
}

.content-login {
    height: calc(100vh - 130px);
}

.side-menu {
    height: 100vh;
}

.scrollable {
    overflow-y: scroll;
    height: 100vh;
}

/*-------------- layout Admin --------------------*/