<div class="container">
<div class="row">
<form action = "" method="GET" class= "col-auto border border-primary border-5 rounded-3">
      <legend>Calculez votre prêt immobilier</legend>
      <div class="mb-3">
        <label for="capital">Capital</label>
        <input type="text" id="capital" name="capital" class="form-control">
    
      </div>
      <div class="mb-3">
        <label for = "nbYear">Nombre d'années</label>
        <input type="number" id="nbYear" name="nbYear" class="form-control">
      </div>
      <div class="mb-3">
        <label for = "rate">Taux</label>
        <input type="text" id="rate" name="rate" placeholder="ex: 2.5" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
      </div>
</form>
</div>
</div>

<!--

<?php 
include 'model.php';

$capital = $_GET["capital"] ?: 0;
$year = $_GET["year"] ?: 0;
$rate = $_GET["rate"] ?: 0;

$mensualite = new Mensualite();
$mensualite->setCapital($capital);
$mensualite->setYear($year);
$mensualite->setRate($rate);

echo $mensualite->getMensualite();




include 'view.php';