<div class="container">
<div class="row">
<form method="GET" class= "col-auto border border-primary border-2 rounded-3">
    <legend>Calculez votre prêt immobilier</legend>
    <div class="mb-3">
        <label for="capital">Capital</label>
        <input type="text" id="capital" name="capital" class="form-control">
    </div>
    <div class="mb-3">
        <label for = "nbYear">Nombre d'années</label>
        <input type="number" id="nbYear" name="nbYear" class="form-control">
    </div>
    <div class="mb-3">
        <label for = "rate">Taux</label>
        <input type="text" id="rate" name="rate" placeholder="ex: 2.5" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    {% if result is not empty %}
     
    <p class="mt-3">Vos mensualités seront de {{result}}€.</p>
     
    {% endif %}
</form>
</div>
</div>