<div class="card shadow-lg  mt-3">
    <img src="/../assets/images/index/appart-exemple.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">
            <medium class="text-primary">Orléans sud</medium>
        <h5>Maison dans l'agglomération d'Orléans</h5>
        <p>Magnifique maison dans l’agglomération d’Orléans, elle dispose ... <a class='text-primary'>en
                savoir plus</a></p>
        <p class='float-right'>Prix : <a class='text-primary'>780€ CC</a></p>
        </p>
    </div>
</div>