    <footer>
        <div class = "container-fluid">
            <div class = "row footer-bottom bg-primary pt-3 pb-3">
                <div class = "col-2 d-flex justify-content-start">
                    <a href = "https://fr-fr.facebook.com/Le-club-de-limmo-orl%C3%A9ans-1118135258245650/"><span class = "col-1 ms-2"><img class = "footer-icon" src="../assets/images/facebook.png"></span></a>
                    <a href = "https://www.instagram.com/leclubdelimmo45/"><span class = "col-1 ms-2"><img class = "footer-icon" src="../assets/images/instagram.png"></span></a>
                </div>
                <div class = "col-1">
                </div>
                <div class = "col-6 d-flex justify-content-around">
                    <span class = "col text-decoration-none text-light">Responsive</span>
                    <span class = "col"><a class="text-decoration-none text-light" href = '../Home/mentionsLegales'>Mentions légales</a></span>
                    <span class = "col"><a class="text-decoration-none text-light" href = '../Home/cgu'>CGU</a></span>
                </div>
                <div class = "col-1">
                </div>
                <div class = "col-1">
                    <div class = "col col-sm-1 offset-1 text-decoration-none text-light">Copyright</div>
                </div>
            </div>
        </div>
    </footer>
  
    <a href="../Admin/loggin"> page admin (lien a supprimer plus tard)</a>
