
<div class="container mr-5">
<div class="row mb-3 me-3">
<form method="GET" class= "col border border-primary border-2 rounded-3">
    <p class = "h5 mt-2 text-center text-primary">Vous souhaitez visiter ce bien</p>
    <div class="mb-3">
        <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom">
    </div>
    <div class="mb-3">
        <input type="number" id="nbYear" name="nbYear" class="form-control" placeholder="Prénom">
    </div>
    <div class="mb-3">
        <input type="tel" id="tel" name="tel" class="form-control" placeholder="N° de téléphone*">
    </div>
    <div class = "row">
      <div class = "col">
    <button type="submit" class="btn btn-primary mb-3">Appelez-nous</button>
      </div>
      <div class = "col">
    <button type="submit" class="btn btn-primary mb-3">Emailez-nous</button>
      </div>
</form>
<small id="info-tel" class="form-text text-muted">*Vos informations resteront privées.</small>
</div>
</div>