<div class="container">
	<div class="row mb-3 text-center">
		<form method="GET" class="col border border-primary border-2 rounded-3">
    <img class = "col-2 mt-2" src="../assets/images/logo-cdimmo.png">
			<p class="h5 mt-2 text-center text-primary mb-3">Vous souhaitez visiter ce bien ?</p>
			<div class="row text-center">
				<div
					class="col">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						Nous appeler
					</button>

					<!-- Modal -->
					<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h6 class="modal-title text-primary" id="staticBackdropLabel">Appelez-nous</h6>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p>
										Appelez-nous au 0238 839 940 pour convenir d'un rendez-vous afin d'organiser une visite dans un créneau de votre choix !</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary bg-primary text-white" data-bs-dismiss="modal">Revenir à l'annonce</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<a class = "text-light btn btn-primary" href ='../Home/contact'>Nous écrire</a>
				</div>
			</form>
			<small id="info-tel" class="form-text text-muted mb-2 mt-3">*Vos informations resteront privées.</small>
		</div>
	</div>
