    <h1>This is the header of the club of the immo</h1>
    <a href = '../Home/index'> accueil</a>
    <a href = '../Home/locations'> locations</a>
    <a href = '../Home/ventes'> achats</a>
    <a href = '../Home/agence'> notre agence</a>
    <a href = '../Home/contact'> contactez-nous</a>
    
    {% include 'Components/_searchbar.html.twig' %}

