<div id="header-admin" class="container-fluid bg-primary">
	<div class="row justify-content-between">
		<div class="col-auto mt-2">
			<img src="../assets/images/logo-cdimmo.png" alt="Le club de l'immo logo" class="cdimmo-logo" height="60"/>
		</div>
		<div class="col flex-grow-1"></div>
		<div class="col-auto mt-2">
			<a class="nav-link text-light" aria-current="page" href="/">Site web</a>
		</div>
		<div class="col-auto mt-2">
			<a class="nav-link active text-light" href="admin/loggin">Se Connecter</a>
		</div>
	</div>
</div>

